<div class="container">
  <div class="row">
    <h2>
      Coletáveis
    </h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Moedas coletadas</th>
          <th scope="col">Mortes</th>
          <th scope="col">Monstros mortos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @collected_coins %></td>
          <td><%= @deaths %></td>
          <td><%= @monsters_killed %></td>
        </tr>
        <tr>
          <td>
            <button type="button" name="collect-coin-button">
              Coletar moeda
            </button>
          </td>
          <td>
            <button type="button" name="death-coin-button">
              Contar morte
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <h2>
      Monstros mortos
    </h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome do monstro</th>
          <th scope="col">Quantos mortos</th>
        </tr>
      </thead>
      <tbody>
        <% @monsters.each do |monster| %>
          <tr>
            <td> <%= monster.name %> </td>
            <td> <%= current_user.killed_amount(monster: monster) %> </td>
            <td>
              <button type="button" name="kill-button" class="">
                Matar monstro
              </button>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <h2>
      Troféus
    </h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome do troféu</th>
        </tr>
      </thead>
      <tbody>
        <% current_user.badges.each do |badge| %>
        <tr>
          <td>
            <%= badge.name %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
